#candy-crush-master{
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 1200px;
  width: 1500px;
  border: 2px solid black;
  z-index: 0;
}

#game-domain{
  position: relative;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 700px;
  border: 2px solid red;
  z-index: 100;
  display: inline-block;
}

#show-off-domain{
  position: relative;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 700px;
  border: 2px solid green;
  z-index: 100;
  display: inline-block;
}

#service-area{
  height: 100px;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 600px;
  padding-left: 100px;
  z-index: 9999999;
}

#bottom-service-area{
  height: 98px;
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: 0px;
  width: 600px;
  padding-left: 100px;
  z-index: 9999999;
}

#game-box{
  position: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid black;
  background-color: AliceBlue;

  height: 800px;
  width: 500px;

  z-index: 200;
}

.candy-box{
  position: absolute;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease 0s;

  z-index: 300;
}

.burst-effect-box{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 299;

  background-image: url(../assets/candies/BurstStar.png);
  background-size: 100px 100px;
}

/* ALL CANDY CLASSES */

/* Normal Candies */
.candy-red{
  background-image: url(../assets/candies/Red.png);
  background-size: 100px 100px;
}

.candy-green{
  background-image: url(../assets/candies/Green.png);
  background-size: 100px 100px;
}

.candy-blue{
  background-image: url(../assets/candies/Blue.png);
  background-size: 100px 100px;
}

.candy-orange{
  background-image: url(../assets/candies/Orange.png);
  background-size: 100px 100px;
}

.candy-yellow{
  background-image: url(../assets/candies/Yellow.png);
  background-size: 100px 100px;
}

.candy-purple{
  background-image: url(../assets/candies/Purple.png);
  background-size: 100px 100px;
}

/* Wrapped Candies */
.candy-red-wrapped{
  background-image: url(../assets/candies/RedWrapped.png);
  background-size: 100px 100px;
}

.candy-green-wrapped{
  background-image: url(../assets/candies/GreenWrapped.png);
  background-size: 100px 100px;
}

.candy-blue-wrapped{
  background-image: url(../assets/candies/BlueWrapped.png);
  background-size: 100px 100px;
}

.candy-orange-wrapped{
  background-image: url(../assets/candies/OrangeWrapped.png);
  background-size: 100px 100px;
}

.candy-yellow-wrapped{
  background-image: url(../assets/candies/YellowWrapped.png);
  background-size: 100px 100px;
}

.candy-purple-wrapped{
  background-image: url(../assets/candies/PurpleWrapped.png);
  background-size: 100px 100px;
}

/* ALL POSITION CLASSES */

/* First Row */
.row-0-col-0{
  top: -100px;
  left: 0px;
}

.row-0-col-1{
  top: -100px;
  left: 100px;
}

.row-0-col-2{
  top: -100px;
  left: 200px;
}

.row-0-col-3{
  top: -100px;
  left: 300px;
}

.row-0-col-4{
  top: -100px;
  left: 400px;
}

/* Second row */
.row-1-col-0{
  top: 0px;
  left: 0px;
}
.row-1-col-1{
  top: 0px;
  left: 100px;
}
.row-1-col-2{
  top: 0px;
  left: 200px;
}
.row-1-col-3{
  top: 0px;
  left: 300px;
}
.row-1-col-4{
  top: 0px;
  left: 400px;
}

/* Third row */
.row-2-col-0{
  top: 100px;
  left: 0px;
}
.row-2-col-1{
  top: 100px;
  left: 100px;
}
.row-2-col-2{
  top: 100px;
  left: 200px;
}
.row-2-col-3{
  top: 100px;
  left: 300px;
}
.row-2-col-4{
  top: 100px;
  left: 400px;
}

/* Fourth row */
.row-3-col-0{
  top: 200px;
  left: 0px;
}
.row-3-col-1{
  top: 200px;
  left: 100px;
}
.row-3-col-2{
  top: 200px;
  left: 200px;
}
.row-3-col-3{
  top: 200px;
  left: 300px;
}
.row-3-col-4{
  top: 200px;
  left: 400px;
}

/* Fifth row */
.row-4-col-0{
  top: 300px;
  left: 0px;
}
.row-4-col-1{
  top: 300px;
  left: 100px;
}
.row-4-col-2{
  top: 300px;
  left: 200px;
}
.row-4-col-3{
  top: 300px;
  left: 300px;
}
.row-4-col-4{
  top: 300px;
  left: 400px;
}

/* Sixth row */
.row-5-col-0{
  top: 400px;
  left: 0px;
}
.row-5-col-1{
  top: 400px;
  left: 100px;
}
.row-5-col-2{
  top: 400px;
  left: 200px;
}
.row-5-col-3{
  top: 400px;
  left: 300px;
}
.row-5-col-4{
  top: 400px;
  left: 400px;
}

/* Seventh row */
.row-6-col-0{
  top: 500px;
  left: 0px;
}
.row-6-col-1{
  top: 500px;
  left: 100px;
}
.row-6-col-2{
  top: 500px;
  left: 200px;
}
.row-6-col-3{
  top: 500px;
  left: 300px;
}
.row-6-col-4{
  top: 500px;
  left: 400px;
}

/* Eighth row */
.row-7-col-0{
  top: 600px;
  left: 0px;
}
.row-7-col-1{
  top: 600px;
  left: 100px;
}
.row-7-col-2{
  top: 600px;
  left: 200px;
}
.row-7-col-3{
  top: 600px;
  left: 300px;
}
.row-7-col-4{
  top: 600px;
  left: 400px;
}

/* Eighth row */
.row-8-col-0{
  top: 700px;
  left: 0px;
}
.row-8-col-1{
  top: 700px;
  left: 100px;
}
.row-8-col-2{
  top: 700px;
  left: 200px;
}
.row-8-col-3{
  top: 700px;
  left: 300px;
}
.row-8-col-4{
  top: 700px;
  left: 400px;
}
